#about {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  top: 100%;
  z-index: 1;
  background: rgb(22, 22, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @media (max-width: 1500px) {
    gap: 5rem;
  }
}

.about-title {
  margin-top: 7rem;
  position: relative;
  color: whitesmoke;
  font-weight: 600;
  &::before {
    content: "";
    width: 200%;
    height: 0.1rem;
    background-color: rgba(245, 245, 245, 0.47);
    position: absolute;
    right: 110%;
    top: 50%;
  }
  &::after {
    content: "";
    width: 200%;
    height: 0.1rem;
    background-color: rgba(245, 245, 245, 0.47);
    position: absolute;
    left: 110%;
    top: 50%;
  }
}

.about-main {
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1500px) {
    flex-direction: column;
    gap: 5rem;
  }
}

.about-bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  height: fit-content;
}

#about img {
  width: 50rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.about-img-container {
  margin-left: 2rem;
  position: relative;
  width: fit-content;
  display: grid;
  place-items: center;
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 5%;
    border: solid 0.1rem rgb(81, 162, 233);
  }
}

.typewriter-container {
  position: absolute;
  font-size: 4rem;
  display: flex;
}

#typewriter {
  border-right: 0.1rem solid whitesmoke;
  animation: blink 0.75s step-end infinite;
  width: max-content;
  white-space: nowrap;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: whitesmoke;
  }
}

.about-desc {
  color: whitesmoke;
  max-width: 60rem;
}

.about-skills-container {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 60rem;
  height: min-content;
  @media (max-width: 600px) {
    max-height: 50rem;
  }
}

.about-skills-title {
  position: absolute;
  font-size: 4rem;
  color: rgb(191, 191, 191);
  display: grid;
  place-items: center;

  &::before {
    content: "";
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    border: solid 0.1rem rgb(81, 162, 233);
    z-index: -1;
  }
}
#text-sphere {
  cursor: grab;
  @media (max-width: 600px) {
    position: absolute;
    scale: 0.5;
  }
  @media (max-width: 300px) {
    position: absolute;
    scale: 0.3;
  }
}
.tagcloud {
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  width: 20rem;
  @media (max-width: 600px) {
    font-size: 4rem;
  }
}

.tagcloud--item {
  transition: 200ms;
  color: rgb(81, 162, 233);
}

.tagcloud--item:hover {
  color: rgb(255, 77, 90);
  cursor: default;
}
