footer {
  position: absolute;
  bottom: 0;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.314);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-btns {
  display: flex;
  gap: 3rem;
}

.footer-svg {
  width: 2rem;
  height: 2rem;
  scale: 1.5;
  transition: 0.1s;

  &:hover {
    scale: 1.7;
  }
}
