.hero-canvas {
  background-color: #141517;
  position: absolute;
  z-index: -1;
}
.hero {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  position: fixed;
}
.hero-title {
  color: whitesmoke;
  text-align: center;
  font-weight: 300;
  font-size: 4rem;
}
