#hero {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: fixed;
}

.hero-title {
  color: whitesmoke;
  text-align: center;
  font-weight: 300;
  font-size: 4rem;
}
