#projects {
  position: relative;
  top: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
}

.projects-title {
  margin-top: 7rem;
  position: relative;
  @media (max-width: 600px) {
    margin-top: 15rem;
  }
  font-weight: 600;
  &::before,
  &::after {
    content: "";
    width: 200%;
    height: 0.1rem;
    position: absolute;
    right: 110%;
    top: 50%;
    background-color: rgb(75, 75, 75);
  }
  &::after {
    left: 110%;
    top: 50%;
  }
}

.slide {
  display: flex;
  flex-direction: column;
}

.project-container {
  background-color: rgba(0, 0, 0, 0.234);
  align-self: center;
  max-width: 90rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media (max-width: 600px) {
    margin-top: 4rem;
  }
}

.project-info p {
  color: rgb(197, 197, 197);
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.project-options {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
